<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="urlPath" value="C:\Users\user\Source\Repos\ExtTraining.Summer.2018.3\Xml.CUI\urls.txt"/>
    <add key="xmlPath" value="C:\Users\user\Source\Repos\ExtTraining.Summer.2018.3\Xml.CUI\result.xml"/>
  </appSettings>
</configuration>